.Home-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.User-authentication {
    margin-bottom: 10px;
    font-size: 20px;
}

.UserHeader {
     font-size: 15px;
     background: darkgrey;
     padding: 10px;
     margin-bottom: 10px;
     display: flex;
     justify-content: space-between;
 }