<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Cafe Application</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="dropdown.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>

    <section class="MainHeader">
        <h1 class="CafeTitle"> Cafe Day </h1>
        <div class="Cafe-dropdown">
            <button class="Dropdown-button">Account ?
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="Dropdown-content">
                <a href="#">Customer</a>
                <a href="#">Billing Clerk</a>
                <a href="#">Owner</a>
            </div>
        </div>
    </section>

</body>





</html>