<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Our Cafe Application</title>
        <link rel="stylesheet" type="text/css" href="reset.css">
        <link rel="stylesheet" type="text/css" href="my-second.css">
    </head>

    <body>
        <section class="MainHeader">
            <h1 class="CafeTitle"> Cafe Day </h1>
            <a class="LogIn-link" href="">Login</a>
            <input type="button" value="Create an account" class="SignUp-button" />
        </section>
        <p class="Search-menu">
            <input type="text" placeholder="Search for an item" class="SearchMenu" />
            <img class="SearchImage" src="search.png" />
        </p>
    </body>






</html>